[workspace]
resolver = "3"
members = ["cli", "gui"]

[profile.release]
lto = true
codegen-units = 1
opt-level = "z"
strip = true
panic = "abort"
debug = false

[profile.bench]
inherits = "release"

[profile.release-with-debug]
inherits = "release"
debug = true
